
<title>JQuery Example</title>

<!--
Here I open up my html page and then link to the JQuery library.
-->
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js">
</script>



<!-- Here I create a whole bunch of CSS Style definition's that I'll use below. If you don't understand this, see my CSS Style Tutorial. -->

<head>

</head>

<body>
  <div><h2>Playing with Paragraphs</h2></div>

  <table border="1″ cellpadding="5″>
    <tr>
      <th>Sat</th>
      <th>Sun</th>
      <th>Mon</th>
    </tr>

    <tr>
      <td>Played Ball</td>
      <td>Watched Football</td>
      <td>Worked</td>
    </tr>

    <tr>
      <td>Worked</td>
      <td>Went to Church</td>
      <td>Worked</td>
    </tr>

    <tr>
      <td>Time with Wife</td>
      <td>Went Hiking</td>
      <td>Worked</td>
    </tr>
  </table>

  <div>
    <p id="first"><a href="mailto:derekbanas@newthinktank.com">Send me an email</a></p>
    <p id="second">Second Paragraph</p>
    <p id="third">Third Paragraph</p>
    <p id="fourth">Fourth Paragraph</p>
    <p id="fifth" align="left">Fifth Paragraph</p>
  </div>

  <div>
    <p id="sixth">Sixth Paragraph</p>
  </div>

  <form>
    <button type="button" id="oneButton" onclick="myFunction1()">Add Email Icon</button>
    <button type="button" id="twoButton" onclick="myFunction2()">Make Table Pretty</button>
    <button type="button" id="threeButton" onclick="myFunction3()">Fix Table Title</button>
    <button type="button" id="fourButton" onclick="myFunction4()">Mess up 4th P</button>
    <button type="button" id="fiveButton" onclick="myFunction5()">Mess All P in Divs</button>
    <button type="button" id="sixButton" onclick="myFunction6()">Highlight Fourth</button>
    <button type="button" id="sevenButton" onclick="myFunction7()">Find p with Attribute</button>
    <button type="button" id="eightButton" onclick="myFunction8()">Find p Named third</button>
  </form>


  <p>Click the button to display an alert box:</p>

  <button onclick="myFunction()">Try it</button>


  <script>

  function myFunction() {
    alert("I am an alert box!");
  }
  // not working
  function myFunction1() {
    // $('a[href^=mailto:]').addClass('email');
    $('a[href^=mailto:]').css("background-image", "url('/assets/email-icon.gif')");
  }

  // Here I'm choosing to change the class of every 1st row, in every table on the web page. There are numerous ways to change children elements inside of any parent element, as you can see.
  function myFunction2() {
    $('tr:nth-child(even)').addClass('tableAlt');
  }

  // This code will search all table's that exist and change those row's to the class tableAlt. If I wanted to change the odd numbered rows I would type instead $('tr:nth-child(odd)')
  function myFunction3() {
    $('tr:nth-child(1)').addClass('tableTitle');
  }

  // Here I'm choosing to change the class of every 1st row, in every table on the web page. There are numerous ways to change children elements inside of any parent element, as you can see.
  function myFunction4() {
    $('p').eq(3).toggleClass("styleSample");
  }

  // Here I tell the browser to find the 3rd paragraph on the web page and change it's class.
  function myFunction5() {
    $("div > p").toggleClass("styleSample");
  }


  function myFunction6() {
    $('p[align]').css("font-style", "italic");
  }

  function myFunction7() {
    $('p[align]').css("font-style", "italic");
  }


  function myFunction8() {
    if($('#third').is('p')){
      alert("I found the paragraph named third");
    }
  }




  </script>


</body>
</html
